
@{
    ViewBag.Title = "NotFoundException";
}
<div class="text-info">
    <div class="text-center">По вашему запросу ничего не найдено</div>
    <div class="text-center" style="border: 4px dashed yellow;border-radius: 20px; width: 50%; margin:0 auto; font-size: 64px;">404</div>
</div>

